################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Dependency-Injection-Lifetimes/.vs/Dependency-Injection-Lifetimes
/Dependency-Injection-Lifetimes/Dependency-Injection-Lifetimes/bin/Debug/net8.0
/Dependency-Injection-Lifetimes/Dependency-Injection-Lifetimes/obj
